button{
    background-color: #eeeeee;
    border: 1px solid #1c1c1c;
    border-radius: 4px;
    box-shadow: 0px 1px 3px #333;
    color: #1C1C1C;
    font-size: 20px;
    font-family: 'Sorts Mill Goudy', serif;
    margin: 5px 0;
}