.Credits {
    margin-top: .5em;
}

.Credits div p:last-of-type{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.Credits div{
  margin-bottom: 1em;  
}

.Credits .title{
    font-weight: bold;
}

.Credits div p{
    margin: 0;
}

@media (min-width: 550px){
    .Credits{
        display: flex;
        flex-flow: row wrap;
    }

    .Credits div{
        flex-basis: 45%;
    }
}

@media (min-width: 768px){
    .Credits div{
        flex-basis: 30%;
    }
}