.filters input.controlledInput{
    border: 1px solid #fff;
    border-radius: 4px;
    color: #1c1c1c;
	justify-content: center;
	margin-bottom: 15px;
	font-size: 65%;
	width: 100%;
	padding: 10px;
	background-color: #eeeeee;
}
.filters .checkbox input {
	margin-right: 10px;
}
@media (min-width: 600px){
	.filters input {
/*		font-size: 75%;
		width: 75%;
		margin: 15px 0;*/
	}}
@media (min-width: 2500px){
input {
font-size: 30px;
}
}