.RestaurantList{
    font-size: 19px;
    margin: 0 auto;
    width: 90%;
}
.Restaurant {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #737373;
}
div.RestaurantList div.Restaurant div.info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.Restaurant img{
    width: 100%;
}

.Restaurant .info a{
    color: inherit;
    text-decoration: underline;
}

.Restaurant h4{
    font-weight: bold;
}

.Restaurant h4, .Restaurant p{
    margin: .5em 0;
}

@media (min-width: 500px){
    .Restaurant{
        flex-basis: 45%;
        margin-bottom: 15px;
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .Restaurant{
        flex-basis: 30%;
        margin-bottom: 30px;
    }
}
@media (min-width: 1024px){
    .Restaurant{
        flex-basis: 22%;
    }
}
@media (min-width: 1280px){
    .Restaurant{
        flex-basis: 21%;
        padding: 5px;
    }
}