.ENLogo{
	cursor: pointer;
    float: left;
}

.ENLogo img {
    background: transparent;
    padding: 4px;
    margin: 6px 5px 3px;
    width: 1.8em;
}

.ENLogo img {
    transition: color 1s linear;
}

.ENLogo:hover img{
	color: #FCB001;
}

@media (min-width: 768px){
    .ENLogo img{
        width: 2em;
        padding: 4px;
        margin: 6px 10px 3px;
    }
}