.Social{
    cursor: pointer;
    float: left;
}

.Social img {
    background: transparent;
    padding: 4px 2px;
    margin: 6px 0 3px;
    width: 1.8em;
}

@media (min-width: 768px){
    .Social img{
        width: 2em;
    }
}

.Social img {
    transition: color 1s linear;
}

.Social:hover img{
    color: #FCB001;
}