.NavBar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 96%;
    margin: 0 auto;
}

@media (min-width: 650px){
    .NavBar{
        width: 95%;
    }
}

.NavBar .left{
    float: left;
}

.NavBar .right{
    float: right;
}
