.AppHeader {
	margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

    .AppHeader {

    }


.AppHeader a{
    text-decoration: underline;
}

.AppHeader .fitlers select {
    color: white;
}
.AppHeader img {
    margin: 5% 0 3%;
}

.AppHeader .chatter{
    text-align:center;
}

@media (min-width: 500px){
    .AppHeader h1 {
    	font-size: 36px;
    	margin-bottom: 15px;
    }
    .AppHeader p{
    margin-bottom: 10px;
}
}
@media (min-width: 768px){
    .AppHeader h1 {
    	font-size: 40px;
    	margin-bottom: 20px;
    }
    .AppHeader p{
    margin-bottom: 12px;
    font-size: 18px;
}
}
@media (min-width: 1024px){
    .AppHeader h1 {
    	font-size: 40px;
    	margin-bottom: 25px;
    }
    .AppHeader p{
    margin-bottom: 12px;
    font-size: 20px;
}
}
@media (min-width: 1280px){
    .AppHeader h1 {
    	font-size: 40px;
    	margin-bottom: 25px;
    }
    .AppHeader p{
    margin-bottom: 12px;
}
}