.filters select{
	background: #eee;
}

.filters .dropdowns select{
	color: #1c1c1c;
	display: block;
	font-size: 15px;
	margin: 15px 0;
}
.filters .checkbox{
	margin: 15px 0;
}

@media (min-width: 769px){
	.filters .dropdowns{
	display: flex;
	flex-flow: row wrap;
}

.filters .dropdowns select{
	margin: 15px 10px;
}

.filters .dropdowns select:first-of-type{
	margin-left: 0;
}

}